{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="col-lg-3 col-md-6 footer-info">
            <h3>About Us</h3>
            <p>MJavad A young programmer from Iran with a wonderful dream from Iran</p>
            <div class="social-links mt-3">
            <a href="https://x.com/mjavad_303?t=AD2BLKdxhHPiJjnc1LF16Q&s=09" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="https://www.facebook.com/mjavad303?mibextid=ZbWKwL" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/mjavad_303?igsh=OGQ5ZDc2ODk2ZA==" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="https://t.me/mjavad_303" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>
    </div>
{% endblock %}