{% extends 'base.html' %}

{% block content %}

    <!DOCTYPE html>
    <html>
        <body>
            <div class="container">
                <h1>{{ category }}</h1>
            </div>
            <li>
                {% for post in posts %}
                    <article class="entry">

                    {% if post.photo %}
                      <div class="entry-img">
                        <img src="{{ post.photo.url }}" alt="" class="img-fluid">
                      </div>
                    {% endif %}
    
                      <h2 class="entry-title">
                        <a href="{% url 'detail' post.pk %}">{{ post.title }}</a>
                      </h2>
    
                      <div class="entry-meta">
                        <ul>
                          <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#"> {{ post.author }}</a></li>
                          <li class="d-flex align-items-center"><i class="bi bi-book"></i> <a href="{% url 'category' post.category %}"> {{ post.category }}</a></li>
                          <li class="d-flex align-items-center"><i class="bi bi-clock"></i><time datetime="2020-01-01"> {{ post.date }}</time></li>
                          <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="{% url 'detail' post.pk %}"> {{ post.comment_set.count }} Comments</a></li>
                        </ul>
                      </div>
    
                      <div class="entry-content">
                        <p>
                          {{ post.excerpt }}
                        </p>
                        <div class="read-more">
                          <a href="{% url 'detail' post.pk %}">Read More</a>
                        </div>
                      </div>
    
                    </article><!-- End blog entry -->
                {% endfor %}
            </li>
        </body>
    </html>
    
{% endblock %}